<html>
    <head>
        <title>
            form
        </title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h2>Details</h2>
        <a href="/"><button>Cancle</button></a>
        <form method="POST" action="/new">
            <div>
                <label for="author">Name </label>
                <input type="text" name="author" id="author" required>
            </div>

            <div>
                <label for="message">Message </label>
                <textarea name="message" id="message" required> </textarea>
            </div>

            <input type="submit">
        </form>
        <script>
            window.addEventListener('DOMContentLoaded', () => {
                document.getElementById('author').focus();
            });
        </script>

    </body>
</html>